.rightsidebar{
    margin: 10px;
    background-color:#E5EAF3;
    width: 300px;
    height: min-content;
    min-height: 400px;
    display: flex;
    flex-direction: column  ;
    align-items: left;
}

.about
{
    display: flex;
}

.profileimg{
    margin: 5px;
    height : 40px;
    width: 40px;
    border-radius: 1em;
}

.threebuttons{
    background-color: #C4D1E1;
}

.upperbutton{
    margin: 2%;
}
.qpbutton{
    width: 47%;
    border-radius: 5px;
    color: #ffffff;
    font-size: 15px;
    background: #70767C;
    padding: 4px 5px 4px 5px;
    border: 0;
    justify-content: space-between;
}
.qpbutton:hover{
    background-color: #43474b;
}

.instbutton{
    width: 47%;
    margin-left: 5%;
    border-radius: 5px;
    color: #000000;
    font-size: 15px;
    background: #FFC005;
    padding: 4px 5px 4px 5px;
    border: 0;
}
.instbutton:hover{
    background: #d7a50d;
}

.subbutton{
    width: 95%;
    margin: 2%;
    border-radius: 5px;
    color: #ffffff;
    font-size: 15px;
    background: #017AFE;
    padding: 4px 5px 4px 5px;
    border: 0;
}
.subbutton:hover{
    background: #0356ae;
}

.qbutton{
    margin: 5px;
    border-radius: 4px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    background: #FE5958;
    padding: 6px 10px 6px 10px;
    border: 0;
}
.qbutton:hover{
    background: #d24949;
}